body{
  font:10px arial;
}

.axis path,
.axis line{
  fill:none;
  stroke:#000;
}

.area{
  fill:steelblue;
}

.line{
  fill:none;
  stroke: orange;
  stroke-width: 3px;
}

/*indicators*/

.indicator-dot {
  opacity: 0;
}

.indicator-group:hover .indicator-dot{
  stroke:#9B59B6;
  stroke-width: 1.5;
  fill: none;
  opacity: 1;
}

.indicator-line {
  stroke: #1ABC9C;
  stroke-width: 1.5;
}

/*tooltip*/

#tooltip{
  position: absolute;
  padding: 3px;
  background-color: #95A5A6;
  border-radius: 5px;
  color:white;
}

#tooltip p {
  margin: 1px;
}

.hide {
  display: none;
}

small{
  position: fixed;
  top:650px;
  left:30px;
}