body{
  font:10px arial;
}

.axis path,
.axis line{
  fill:none;
  stroke:#000;
}

.area{
  fill:steelblue;
}

.line{
  fill:none;
  stroke: orange;
  stroke-width: 3px;
}

#tooltip{
  position: absolute;
  border:1px solid red;
}

.hide {
  display: none;
}